<div id="main_content">
	<div class='top-left home-top-left'>
		<h3>Podcasts à la Une</h3
			{% for podcast in theOne %}
			<section class="block top group">
				<div class='top-left'>
					<a href="/blog/{{ podcast.getSlug() }}">
						{%media podcast.getPostImage() ,'big' with {'title': podcast.getPostTitle()|striptags|raw}%}
					</a>
				
					<h2>
						<a href="/blog/{{ podcast.getSlug() }}">
							<span class="title">{{ podcast.getPostTitle()|striptags|raw  }}</span><br/>
							<span class="subtitle">{{ podcast.getPostAbstract()|striptags |raw}}</span>				
						</a>
					</h2>
					
				</div>
				{% if showPlayer %}
					<audio class="main" controls="controls" preload="none" >
						<source src="{% path podcast.filePodcast, 'reference' %}.ogg" type="audio/ogg" />
						<source src="{% path podcast.filePodcast, 'reference' %}" type="audio/mpeg" />
						<a href="{% path podcast.filePodcast, 'reference' %}" target="_blank">Téléchargez le podcast</a>
					</audio>	
				{% endif %}
				
			</section>
			{% endfor %}
	</div>

<section class="entry group" style="width:100%;">
	<ul class="gallery-list group">
	
	{% set class = 'first'%}
	
	{% for entity in entities %}
	
		    <li class="{{ class }}">
		    
				<a href="/blog/{{ entity.getSlug() }}">
					<figure>
						<div class="image">
							{%media entity.getPostImage() ,'medium' with {'title': entity.getPostTitle()}%}
							<h2>
								<span>{{ entity.getPostTitle() }}</span>
							</h2>
						</div>
					</figure>
				</a>
				{% if showPlayer %}	
					<audio controls="controls" preload="none" >
						<source src="{% path entity.filePodcast, 'reference' %}.ogg" type="audio/ogg" />
						<source src="{% path entity.filePodcast, 'reference' %}" type="audio/mpeg" />
						<a href="{% path entity.filePodcast, 'reference' %}" target="_blank">Téléchargez le podcast</a>
					</audio>
				{% endif %}		
				{% if entity.realtimestart %}
				<div class="heure-podcast">
					<span>
						{{ entity.realtimestart|date('d/m/') }}<br/>
						{{ entity.realtimestart|date('Y') }}<br/>
						{{ entity.realtimestart|date('H') }}H{{ entity.realtimestart|date('i') }}
					</span>
				</div>
				{% endif %}	
									
				<span class="titre-post">
					<a href="/blog/{{ entity.getSlug() }}">{{ entity.getPostAbstract() | truncate(80, true, "...")  }}</a>
				</span>

					<a class="plus" href="/blog/{{ entity.getSlug() }}">lire la suite</a>

			</li>
			
			{% if  class == 'first'%}
				{% set class = ''%}
			{% else %}
				{% set class = 'first'%}
			{% endif %}
	
	
	
	
	{# 
		<li class="index-{{ loop.index }}">		
			{% if entity.getPost() %}
			<a href="blog/{{ entity.getSlug() }}">
				{% if entity.getPostImage() %}
				
					{%media entity.getPostImage() ,'medium'%}
					
				{% else %}
				
					{%thumbnail entity.getImageEmission() ,'medium'%}
					
				{% endif %}
				
				<h2><a href="blog/{{ entity.getSlug() }}"><span class="title">{{ entity.getPostTitle()|striptags|raw  }}</span></a></h2>					
				<span class="trans"></span>
				<h2><a href="blog/{{ entity.getSlug() }}"><span class="subtitle">{{ entity.getPostAbstract()|striptags |raw}}</span></a><h2>
				
				<!-- 
				<figure class="accueil">
					<figcaption>{{ entity.getPostTitle()|raw }}</figcaption>
					<span class="trans"></span>
				</figure>
				 -->
			 </a>				 			
			{% endif %}

		</li>
		#}
		
	{% endfor %}	
	</ul>
</section>
</div>


<!--
<div class="page-content group">
	<section class="entry group">
        <ul class="gallery-list group">
            <li>
                <a href="#">
                    <figure>
                        <figcaption>Titre de l'ancienne Une 1</figcaption>
                        <span class="trans"></span>
                    </figure>
-->

<!--             
<li>
	<a href="#">
		<figure>
			<img src="images/podcasts/archive_une_1.jpg" alt="">
			<figcaption>Titre de l'ancienne Une 1</figcaption>
			<span class="trans"></span>
		</figure>
		</a>
	</li>
             -->
<script type="text/javascript">
    $("audio.main").bind("stalled", function() { 
        var audio = $(this)[0];
        audio.load();

        // Threw in these two lines for good measure.
        audio.play();
        audio.pause();
    });
</script>