<h1>Podcast</h1>

<table class="record_properties">
		<img src="http://localhost/euradio/app_dev.php/uploads/media/default/0001/01/thumb_1_default_big.jpg"/>
        <audio controls="controls">
 			 <source src="http://localhost/euradio/app_dev.php/uploads/media/default/0001/01/{{ entity.filePodcast.getProviderReference() }}.ogg" type="audio/ogg" />
			 <source src="http://localhost/euradio/app_dev.php/uploads/media/default/0001/01/{{ entity.filePodcast.getProviderReference() }}" type="audio/mp3" />
			  Your browser does not support the audio tag.
		</audio> 
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Real_time_start</th>
            <td>{{ entity.realtimestart|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>
