<h1>Emission</h1>
{% for ent in entity %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ent.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ ent.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ ent.description }}</td>
        </tr>
        <tr>
            <th>Diffusion_start</th>
            <td>{{ ent.diffusionstart|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Difusion_stop</th>
            <td>{{ ent.difusionstop|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Archive</th>
            <td>{{ ent.archive }}</td>
        </tr>
    </tbody>
</table>
{% endfor %}
